.post-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.singlepost {
    border: 1px solid #f0e4e4;
    background-color: #f0e4e4;
    justify-content: center;
    margin-top: 2em;
    width: 50em;
    max-width: 100%;
}

.postcontent {
    text-align: center;
}
