.post {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 100%;
    width: 75em;
    margin-top: 2.5em;;
}

.post_image {
    display: flex;
    margin-top: 2em;
}